@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <title>@ViewBag.Title</title>
</head>

<body>
    <br />
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Docs" asp-action="Index" class="navbar-brand">Protokoły</a></li>
                    <li><a asp-controller="Phones" asp-action="Index" class="navbar-brand">Telefony</a></li>
                    <li><a asp-controller="Cenniki" asp-action="Index" class="navbar-brand">Cenniki</a></li>
                </ul>
                @*<ul class="nav navbar-nav">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li>
                            <form method="post" asp-action="logout" asp-controller="account" class="navbar-brand">
                                <button type="submit">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="register" asp-controller="account" class="navbar-brand">Register</a>
                        </li>

                        <li>
                            <a asp-action="login" asp-controller="account" class="navbar-brand">Login</a>
                        </li>
                    }
                </ul>*@
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>

    </div>
</body>
</html>
